* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color:antiquewhite;
  color: antiquewhite;
  display: flex;
  min-height: 100vh;
}

#btn {
  position:absolute;
  top: 13px;
  right: 20px;
  padding: 10px 16px;
  background-color: chocolate;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

body.dark {
  background-color: #1e1e1e;
  color: #221e1e;
}

.nav-container {
  display: flex;
  background-color: #4b2e2e;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 18px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #ffc107;
  color: #4b2e2e;
}

.about-us,
.story-section,
.team-section,
.gallery-section {
  margin-top: 20px;
}


.para{
  margin: 10px;
  padding: 9px;
  background-color: rgb(236, 186, 110);
  border-radius: 6px;
}


.about-us {
  background-color: #deb591;
  border-radius: 10px;
}

body.dark .about-us {
  background-color: #1e1e1e;
  color: white;
}

.about-us h1 {
  font-size: 36px;
  color: #c5471d;
  text-align: center;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}
  .footer p {
    margin: 0;
    padding: 0;
  }

.story-section {
  padding: 20px 20px;
  background-color: #deb591;
}

.story-text h2 {
  font-size: 40px;
  color: #b94a0b;
  margin-bottom: 20px;
  
}

.story-text p {
  font-size: 1.1rem;
}

.team-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #deb591;
}

.team-section h2 {
  font-size: 32px;
  color: #3b1f1f;
  margin-bottom: 40px;
}

.team-member p{
    color:white;
  
}

.team-member{
  color:white;
}


.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.team-member {
  background-color: #4e1e16b1;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  text-align: left;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
  color: #333;
}

h1 {
  margin-bottom: 40px;
  color: #7b4f24;
}

.gallery-section {
  padding: 50px 20px;
  background-color: #deb591;
  text-align: center;
}

.gallery-section h2 {
  font-size: 2rem;
  color: #2e2016;
  margin-bottom: 30px;
}



#png{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.gallery-grid {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1300px;
  margin: auto;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
 
}

.gallery-item img:hover {
  transform: scale(1.05);
}

footer {
  background: #6d4c41;
  color: white;
  padding: 20px;
  text-align: center;
}


@media (max-width: 768px) {
  .about-us h1 {
    font-size: 28px;
    padding: 0 10px;
    
  }

  .about-us p {
    font-size: 16px;
    padding: 0 10px;
   
  }

  .story-text h2 {
    font-size: 32px ;
  }

  .story-text p {
    font-size: 1rem;
  }

  .story-section img {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
  }

  .team-section h2 {
    font-size: 28px;
  }

  .team-member {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery-section h2 {
    font-size: 28px;
    padding: 0 10px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 10px;
  }
}

