
body{
  font-family: Arial, sans-serif;
  background-color: #deb591;
  margin: 0;
  padding: 0;
 background-color:light rgb(209, 209, 171);
}
#btn{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 16px;
  background-color: #763c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

  

 body.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .menu-item {
  background-color: #2c2c2c;
  border-color: #444;
}


header {
  background-color: #5a3c35;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

h1 {
  margin: 0;
  font-size: 36px;
}
p{
  font-size: 20px;
}

.filters {
  text-align: center;
  margin: 20px 0;
}

.filters button {
  background-color: #4f2a2d;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #813641;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.menu-item {
  width: 260px;
  background-color: #6b3434;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(245, 229, 61);
  overflow: hidden;
  transition: transform 0.3s;
}

.menu-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-info {
  padding: 15px;
  text-align: center;
}

.menu-info h3 {
  margin: 10px 0 5px;
  color: #f6f0ef;
}

.menu-info p {
  color: #fffaf9;
  font-size: 14px;
  margin: 0;
}

.price {
  font-weight: bold;
  margin-top: 8px;
  color: #a0522d;
}

.hidden {
  display: none;
}

footer {
  background: #6d4c41;
  color: white;
  padding: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

